**
!docker/
!docker/**
!src/
!src/**
!components/
!components/**
!recipes/
!recipes/**
!pyproject.toml
!README.md
!LICENSE
!THIRD_PARTY_NOTICES
**/.git
**/.env
**/.env.*
**/__pycache__
**/*.pyc
**/*.egg-info
**/target
**/wandb
**/outputs
**/credentials*.json
**/credentials*.env
**/*.pem
**/*.key
**/*.p12
**/*.pfx
